<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>
        chuy1
    </title>
</head>

<body>
    <h1>
        chuy1
    </h1>
    <p>
        chuy3
    </p>
    <p><strong>Fecha:</strong>
        2025-08-01
    </p>
    <p><strong>Hora:</strong>
        09:46
    </p>
    <p><strong>Lugar:</strong>
        chuy2
    </p>
</body>

</html>